<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets para Adoção</title>
</head>
<body>
    <div class="container">
        <div class="list-box">
            <h1>Pets para Adoção</h1>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Espécie</th>
                        <th>Idade</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each pets}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.specie}}</td>
                        <td>{{formatDate this.birthDate}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>